[env:seeed_xiao_esp32c3]
build_flags =
    -DWIFI_SSID=\"your_ssid_here\"
    -DWIFI_PASS=\"your_password_here\"
    -DAIO_USERNAME=\"your_AdafruitIO_username_here\"
    -DAIO_KEY=\"your_AdafruitIO_key_here\"